* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}
.btn-secondary {
  color: #fd6e0a;
  height: 64px;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}
/* Header and navigation style */
header {
  margin: 20px 0px;
  /* background-color: aquamarine; */
  /* height: 300px; */
}

.header {
  background-color: #ffffff;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left, bottom right;
  background-size: auto, contain;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  padding-right: 15px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* Banner Style */

.banner {
  display: flex;
  align-items: end;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  margin: 0px 100px;
}
/* .banner > div {
  border: 2px solid red;
} */
/* .banner-text {
  width: 40%;
} */
/* .banner-pic {
  width: 30%;
} */

/* .banner-image {
  height: 300px;
  width: 200px;
  align-items: end;
} */

.banner-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-sub-title {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner-description {
  color: #757575;
  margin-bottom: 30px;
}

/* main Section  */

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About section */

.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px;
  text-align: center;
}
section {
  margin-top: 130px;
}
.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* About Me Section */

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  font-size: 20px;
  color: #757575;
}

.info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}

/* What I do Style */

.skills-contsiner {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px;
}
.skill-description {
  color: #757575;
}

/* Resume Style */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-item {
  margin: 20px 0px;
}
.resume .title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume .sub-title {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
  padding: 20px 0px;
  /* border-bottom: 2px solid#757575; */
}

.resume-btn {
  text-align: center;
}
